<div class='container'>
  <div class='row'>
    <div class='col-md-3'></div>
        <p id= "notice"></p>
        <div class='col-md-8 offset-md-1'>
          <h1><%= @end_user.name %>さんのプロフィール編集</h1>
            <%= form_with model: @end_user_session_path do |f| %>
             <h4><label for="inputName">登録名</label><br/>
             <%= f. text_field :name, autofocus: true, id:"inputName", placeholder:"登録名" %>
             </h4>
             <h4><label for="inputName">フリガナ</label><br/>
              <%= f. text_field :name_kana, autofocus: true, id:"inputName", placeholder:"フリガナ" %>
             </h4>
             <h4><label for="mail">メールアドレス</label><br/>
               <%= f. text_field :email, autofocus: true, id:"inputName", placeholder:"メールアドレス" %>
             </h4>
             <h4><label for="postal_code">郵便番号のみ入力</label><br/>
             <%= f. text_field :postal_code, autofocus: true, id:"inputName", placeholder:"郵便番号" %>
             </h4>
             <h4><label for="telephone_number">電話番号</label><br/>
             <%= f. text_field :telephone_number, autofocus: true, id:"inputName", placeholder:"電話番号" %>
             </h4>
             <h4><label for="inputImage">プロフィール画像</label><br/>
             <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
             </h4>
             <h4>
               <%= f.submit "変更を保存" %>
             </h4>
             <h4>
               <%= link_to "退会する", unsubscribe_path(current_end_user) %>
             </h4>

            <% if @end_user.name != "guestuser" %>
            <div class='row'>
              <%= link_to '', edit_end_user_password_path(@end_user), class: "btn btn-outline-secondary edit_end_user_#{@end_user}" %>
            </div>
            <% end %>

            <% end %>

        </div>
  </div>
</div>