<div class='container'>
  <div class='row'>
    <div class='col-md-3'></div>
        <p id= "notice"></p>
        <div class>
          <h1>ユーザー情報</h1>
          <table class = "table table-hover table-inverse">
            <% @end_user.name %>
            <%= image_tag @end_user.get_profile_image(100,100) %>
            <% if @end_user == current_end_user %>
              <p><%= link_to "プロフィール編集", edit_public_end_user_patd(@end_user) %></p>
            <% end %>
            <tbody>
              <tr>
                <td><%= @end_user.name %>さんの投稿一覧</td>
              </tr>
            <% @shops.each do |shop| %>
              <tr>
                <td>投稿したユーザー名:<%= shop.end_user.name %></td>
              </tr>
              <tr>
                <td>店名:<%= shop.title %></td>
              </tr>
              <tr>
                <td>店舗説明:<%= shop.body %></td>
              </tr>
              <tr>
                <td>コメント数:<%= link_to "#{shop.comments.count}コメント", public_shop_comments_patd(shop.id) %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
  </div>
</div>