<div class='container'>
  <div class='row'>
    <div class='col-md-3'></div>
        <p id= "notice"></p>
        <div class='col-md-8 offset-md-1'>
          <h1>コメント一覧</h1>
          <table class = "table table-hover table-inverse">
                <thead>
                  <tr>
                    <th>投稿者名</th>
                    <th>店名</th>
                    <th>投稿者の感想</th>
                    <th>店舗トップ画像</th>
                  </tr>
                  </thead>
                <tbody>
                  <tr>
                    <td><%= link_to @shop.end_user.name, public_end_user_path(@shop.id) %></td>
                    <td><%= link_to @shop.title, public_shop_path(@shop.id) %></td>
                    <td><%= @shop.body %></td>
                    <td>
                      <% if @shop.image.attached? %>
                        <%= image_tag @shop.image, size: "200x200" %>
                      <% else %>
                        <%= image_tag 'no_image', size: "200x200" %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <% @shop.comments.each do |comment| %>
                    <td>コメント:<%= comment.comment %>
                    <%= comment.created_at.strftime('%Y/%m/%d') %><br/>
                    <%= comment.end_user.name %><br/>
                    <% if comment.end_user == current_end_user %>
                      <%= link_to "削除", public_shop_comment_path(comment.shop, comment.id), method: :delete %>
                    <% end %>
                    </td>
                    <% end %>
                  </tr>
                </tfoot>
            </table>
          </div>
        </div>
    </div>
</div>
