<div class='container'>
  <div class='row'>
    <div class='col-md-3'></div>
        <p id= "notice"></p>
        <div class>
          <h1><%= @end_user.name %>さんのユーザー情報</h1>
          <table class = "table table-hover table-inverse">
            <thead>
              <tr>
                <th>ユーザー名</th>
                <th>会員id</th>
                <th>フリガナ</th>
                <th>メールアドレス</th>
                <th>電話番号</th>
                <th>郵便番号</th>
                <th>会員ステータス</th>
                <th>投稿内容一覧</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @end_user.name %></td>
                <td><%= @end_user.id %></td>
                <td><%= @end_user.first_name_kana%></td>
                <td><%= @end_user.email %></td>
                <td><%= @end_user.telephone_number %></td>
                <td><%= @end_user.postal_code %></td>
                <td>
                 <% if @end_user.is_deleted.blank? %>
                    有効
                 <% else %>
                    退会
                 <% end %>
                </td>
                <td>
                <% @end_user.shops.each do |shop| %>
                <%= shop.body %><br/>
                <% end %>
                </td>
              </tr>
            </tbody>

            <div>
              <%= link_to "会員ステータスを変更する", admin_unsubscribe_path %>
            </div>

          </table>

  </div>
</div>