<div class='container'>
  <div class='row'>
    <div class='col-md-3'></div>
        <p id= "notice"></p>
        <div class='col-md-8 offset-md-1'>
          <h1><%= @end_user.name %>さんのユーザー情報</h1>
          <table class = "table table-hover table-inverse">
            <thead>
              <tr>
                <th>ユーザー名</th>
                <th>会員id</th>
                <th>フリガナ</th>
                <th>メールアドレス</th>
                <th>電話番号</th>
                <th>郵便番号</th>
                <th>会員ステータス</th>
                <th>投稿内容一覧</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @end_user.name %></td>
                <td><%= @end_user.id %></td>
                <td><%= @end_user.first_name_kana%></td>
                <td><%= @end_user.email %></td>
                <td><%= @end_user.telephone_number %></td>
                <td><%= @end_user.postal_code %></td>
                <td>
                 <%= @end_user.id %>&ensp;
                 <% if @end_user.is_deleted == nil %>
                    有効
                 <% else %>
                    退会
                 <% end %>
                <%#= form_with(model: @end_user, url: admin_@end_user_status_path, method: :patch, local: true) do |f| %>
                  <%#= f.select :@end_user_status, EndUser.@end_user_statuses.keys.to_a, {} %>
                  <%#= f.hidden_field :id, :value => @end_user.id %>
                  <%#= f.submit "更新",class:"btn btn-primary" %>
                <%# end %>
                </td>
                <td>
                <% @end_user.shops.each do |shop| %>
                <%= shop.body %><br/>
                <% end %>
                </td>
              </tr>
            </tbody>

            <div>
              <%= link_to "会員ステータスを変更する" %>
              <!--#会員ステータスを有効・無効に管理者権限で変更する画面へ飛ばす-->
            </div>

          </table>

  </div>
</div>